<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dbright.SP">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:isScrollContainer="false"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="m">
        <activity
            android:name=".BitcoinPayment"
            android:exported="true" />
        <activity
            android:name=".DTransfer"
            android:exported="true" />
        <activity
            android:name=".pay_option"
            android:exported="true" />
        <activity
            android:name=".FDTTS"
            android:exported="true" />
        <activity
            android:name=".payment"
            android:exported="true" />
        <activity
            android:name=".CameraSelect"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".gallarySelect"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <provider
            android:name=".PhotoProvider"
            android:authorities="com.dbright.SP.PhotoProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".second_frame"
            android:label="@string/title_activity_second_frame"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>